{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock title %}

{% block register-page %}
<div class="auth-card d-none" id="register-card">
    <h2>Register</h2>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
        <form  method="post">
        {% csrf_token %}
            <div class="mb-3">
                <label for="regUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="regUsername" name="username" required>
            </div>
            <div class="mb-3">
                <label for="regEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="regEmail" name="email" required>
                </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password1" name="password1" required>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="privacyAgreement" required>
                <label class="form-check-label" for="privacyAgreement">I agree to the privacy policy</label>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <div class="switch-form">
            Already have an account? <a href="{% url 'login'%}" id="show-login-form">Login here</a>
        </div>
</div>
{% endblock register-page %}